* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit";
  color: white;
  background-color: black;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image {
  width: 40%;
  height: 50%;
  background-color: white;
  position: relative;
  top: 25%;
  left: 30%;
}

img {
  width: 98%;
  height: 97%;
  position: absolute;
  margin: 1%;
  border-radius: 5px;
  /* mask-image: linear-gradient(to bottom, black 55%, rgba(0, 0, 0, 0.01)); */
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ); */
}

.img-gradient {
  width: 98%;
  height: 97%;
  position: absolute;
  margin: 1%;
  border-radius: 5px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
}

.store {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 32px;
}

.location {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 2.5px;
  top: 40px;
  background-color: #7a7b7d;
  text-align: center;
  font-size: 1.4rem;
  padding: 5px;
}
